---
layout: reveal
---

%section
  %img.splash.screen{:src => "assets/images/splash_scaled.png"}
  %img.splash.print{:src => "assets/images/splash_scaled_black.png"}
%section
  %h1 Going Mobile
  %h2.capitalize with your RichFaces Applications
  %ul.intro
    %li Brian Leathem
    %li Senior Software Engineer, Red Hat
    %li 06.28.12
  .footer
    %img.summit-logo{:src => "assets/images/summit_logo_shadow.png" }
    %img.redhat-logo{:src => "assets/images/redhat_logo_notext.png" }
%section
  %h2 The plan
  %ul
    %li Why the Mobile Web?
    %li Why JSF?
    %li Why RichFaces?
  %div
    %img{:src => "assets/images/storm_troopers.jpg", :alt => "http://www.flickr.com/photos/jdhancock/5845280258/", :style => "clear: both"}
%section
  %h2 Who am I?
  %ul
    %li Senior Software Engineer at Red Hat
    %li RichFaces Project Lead
    %li Represent Red Hat on the JSF 2.2 EG (JSR-344)
    %li Seam Faces module lead
  %div
    %img{:src => "assets/images/silhouette.png", :alt => "http://leslycorazon.wikispaces.com/file/detail/head-silhouette-with-question-mark.png/319199232"}
%section
  %section
    %h2 Why Mobile?
    %p I write desktop apps!
    %img{:src => "assets/images/old_computer.jpg", :alt => "http://www.linuk.web.id/2010/09/biografi-singkat-linus-torvalds.html"}
  %section
    %h2 Smartphones!
    %img{:src => "assets/images/MartinCooper.jpg", :alt => "http://en.wikipedia.org/wiki/File:2007Computex_e21Forum-MartinCooper.jpg"}
  %section
    %h2 Mobile phones are everywhere!
    %img{:src => "assets/images/mobile-chart2.png", :alt => "http://gigaom.com/2010/04/12/mary-meeker-mobile-internet-will-soon-overtake-fixed-internet/"}
%section
  %section
    %h2 Choose: Native app or Mobile
    %ul
      %li
        Web:
      %ul
        %li Common across platforms
        %li HTML 5 / CSS 3 / javascript
      %br
      %li Native:
      %ul
        %li Responsive
        %li Touch-specific controls
        %li Native L&F
  %section
    %h2 Choose: Native app or Mobile
    %p So how do I choose?
    %img{:src => "assets/images/damned_if_you_do.jpg", :alt => "https://devcentral.f5.com/weblogs/macvittie/archive/2008/09/10/3604.aspx"}

  %section{ :"data-state" => "alert"}
    %h1{:style => "margin-top: 180px;"} You need a mobile web app regardless!
%section
  %section
    %h2 Mobile Web is Ready
    %ul
      %li HTML 5
      %li CSS 3
      %li JavaScript
    %div{:style => "float:right; position: relative; top: -50px;"}
      %img.html5_logo{:src => "assets/images/HTML5_Logo_256.png"}
      %img{:src => "assets/images/CSS3_Logo.png", :style => "padding: 20px;" }
    %p{:style => "clear:both;position: relative; top: 70px;"}
      Html 5 Web App &rarr; Native App
  %section
    %h2
      target = Webkit
      %a{:href => "http://gs.statcounter.com/#mobile_os-ww-monthly-201205-201205-bar"}
        %img{:src => "assets/images/mobile_os_marketshare.jpg"}
  %section
    %h2 JavaScript APIs
    %ul
      %li Geo-location
      %li Local Storage
      %li Web Sockets
      %li Canvas
      %li Drag and Drop
      %br
      %li
        %a{:href => "http://www.quirksmode.org/webkit_mobile.html"}
          bit.ly/webkit-comparison
  %section
    %h2 Hide the Location bar
    %img.plain.portrait{:src => "assets/images/kitchensink-mobile-home_scaled.png", :style => "float: right; position: relative; top: -30px"}
    %pre{:class => "prettyprint", :style => "font-size: 14pt; margin-top: 120px; width: 550px; margin-left: 0"}
      %code
        &nbsp;
        :escaped
          hideURLBar: function() {
              //hide the url bar on mobile devices
              setTimeout(scrollTo, 100, 0, 1)
          }
        &nbsp;
    %div{:style => "border: solid red 4px; margin-left: 50px; width: 450px; height: 0.8em; position: relative; top: -83px"}
  %section
    %h2 Orientation Detection
    %div{:style => "float:right; position: relative; top: -50px;"}
      %img.plain.landscape{:src => "assets/images/landscape_scaled.png"}
      %img.plain.portrait{:src => "assets/images/portrait_scaled.png"}
  %section
    %h2 Orientation Detection
    %img.plain.portrait{:src => "assets/images/portrait_scaled.png", :style => "float: right; position: relative; top: -30px"}
    %pre{:class => "prettyprint", :style => "font-size: 14pt; margin-top: 0px; width: 550px; margin-left: 0"}
      %code
        &nbsp;
        :escaped
          /* portrait screen width */
          @media screen and (max-width: 480px) {
             .portrait {
             }
             .landscape {
                display:none;
             }
          }

          /* landscape/desktop device widths */
          @media screen and (min-width: 481px) {
             .portrait {
                display:none;
             }
             .landscape {
             }
          }
        &nbsp;
  %section
    %h2 Hardware acceleration
    %h3.capitalize{:style => "margin-top: 60px"} Activate the GPU for compositing each page
    %pre{:class => "prettyprint", :style => "font-size: 14pt;  margin-top: 20px"}
      %code{:id => "activate_the_gpu"}
        &nbsp;
        :escaped
          .page {
            ...
            -webkit-transform: translate3d(0, 0, 0);
          }
        &nbsp;
  %section
    %h2 HTML 5 presentation
    %pre{:class => "prettyprint", :style => "font-size: 14pt;  margin-top: 100px"}
      %code{:id => "activate_the_gpu"}
        &nbsp;
        :escaped
          <section>
            <h2>The plan</h2>
            <ul>
              <li>Why the Mobile Web?</li>
              <li>Why JSF?</li>
              <li>Why RichFaces?</li>
            </ul>
          </section>
        &nbsp;
  %section
    %h2 Plethora of Frameworks
    .images.white{:style => "margin-top: 50px"}
      %table
        %tr
        %td
          %img{:src => "assets/images/frameworks/yui.png"}
        %td
          %img{:src => "assets/images/frameworks/Jquery-mobile-logo.png"}
        %td
          %img{:src => "assets/images/frameworks/sencha.png"}
      %table
        %tr
          %td
            %img{:src => "assets/images/frameworks/zepto_js.png"}
          %td
            %img{:src => "assets/images/frameworks/sproutcore.png"}
    %h2.fragment{:style => "margin-top: 50px"}
      + JSF !!
%section
  %section
    %h2 Why JSF?
    %img.plain{:src => "assets/images/question_mark.png", :style => "float:right; position: relative; left: -40px"}
    %h3.capitalize{:style => "margin-top: 180px"} What do we like about JSF?
  %section
    %h2 JSF Because...
    %img.plain{:src => "assets/images/java_logo.png", :style => "float:right; position: relative; left: -40px"}
    %p{:style => "margin-top: 180px"} Standardized as part of Java EE
  %section
    %h2 JSF Because...
    %img.plain{:src => "assets/images/ajax_logo.png", :style => "float:right; position: relative; left: -40px"}
    %p{:style => "margin-top: 180px"}
      Ajax is baked-in
      %br
      to the framework
  %section
    %h2 JSF Because...
    %img.plain{:src => "assets/images/puzzle.png", :style => "float:right; position: relative; left: -40px: height: 300px"}
    %p{:style => "margin-top: 180px"}
      Component-oriented
      %br
      programming model
  %section
    %h2 JSF Because...
    %img.plain{:src => "assets/images/jigsaw.png", :style => "float:right; position: relative; left: -40px: height: 300px"}
    %p{:style => "margin-top: 180px"}
      Facelets:
      %br
      A powerful templating mechanism
  %section
    %h2 JSF Because...
    %h3.capitalize{:style => "margin-top: 120px"} Let's build on our investment in JSF technology!
    %table.images{:style => "margin-top: 80px"}
      %tr
        %td
          %img{:src => "assets/images/group.png", :alt => "http://openclipart.org/detail/17302/groupe-by-czara1"}
        %td
          %img{:src => "assets/images/network.png", :alt => "http://openclipart.org/detail/36571/tango-network-workgroup-by-warszawianka"}
        %td
          %img{:src => "assets/images/money.png", :alt => "http://openclipart.org/detail/22860/money-bag-icon-by-chovynz"}
        %td
          %img{:src => "assets/images/clock.png", :alt => "http://openclipart.org/detail/48427/clock-by-palomaironique"}
%section
  %section
    %h2 Adapting JSF to be &ldquo;Mobile Ready&rdquo;
    %ul
      %li
        Responsive
        %ul.fragment
          %li Single Page programming model (via JSF AJAX)
      %br
      %li
        Touch-specific controls
        %ul.fragment
          %li CSS 3 styling
      %br
      %li
        Native L&F
        %ul.fragment
          %li Component libraries
  %section
    %h2 The RichFaces Showcase
    %a{:href => "http://showcase.richfaces.org", :target => "demo"}
      %img.plain{:src => "assets/images/showcase.png", :style => "float:right; position: relative; left: -40px"}
    %ul{:style => "margin-top: 160px"}
      %li Mobile compatible components
  %section
    %h2 Device Detection
    %img{:src => "assets/images/iphone_ipad.jpg", :alt => "http://www.flickr.com/photos/ivyfield/4486938457/" }
  %section
    %h2 Device Detection
    %h3.capitalize{:style => "margin-top: 60px"} User Agent String
    %pre{:class => "prettyprint", :style => "font-size: 14pt;  margin-top: 20px"}
      %code
        &nbsp;
        :escaped
          Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/536.5 (KHTML, like Gecko) Chrome/19.0.1084.56 Safari/536.5
        &nbsp;
  %section
    %h2 Device Detection
    %h3.capitalize{:style => "margin-top: 60px"} Server Side: UAgentInfo
    %pre{:class => "prettyprint", :style => "font-size: 14pt; margin-top: 20px"}
      %code
        &nbsp;
        :escaped
          public class UAgentInfo implements Serializable {
             ...
             public void initDeviceScan() {
                this.isIphone = detectIphoneOrIpod();
                this.isAndroidPhone = detectAndroidPhone();
                this.isTierTablet = detectTierTablet();
                this.isTierIphone = detectTierIphone();
                this.isTierRichCss = detectTierRichCss();
                this.isTierGenericMobile = detectTierOtherPhones();
             }
            ...
        &nbsp;
  %section
    %h2 Device Detection
    %h3.capitalize{:style => "margin-top: 60px"} JSF Bean: UserAgent
    %pre{:class => "prettyprint", :style => "font-size: 14pt;  margin-top: 20px"}
      %code
        &nbsp;
        :escaped
          @Model
          public class UserAgent {

             private UAgentInfo uAgentInfo;

             @PostConstruct
             public void init() {
                FacesContext context = FacesContext.getCurrentInstance();
                HttpServletRequest request = (HttpServletRequest)
                            context.getExternalContext().getRequest();
                String userAgentStr = request.getHeader("user-agent");
                String httpAccept = request.getHeader("Accept");
                uAgentInfo = new UAgentInfo(userAgentStr, httpAccept);
             }
        &nbsp;
  %section
    %h2 Device Detection
    %h3.capitalize{:style => "margin-top: 60px"} URL Rewriting: ReWrite
    %pre{:class => "prettyprint", :style => "font-size: 14pt; margin-top: 20px"}
      %code
        &nbsp;
        :escaped
          public Configuration getConfiguration(final ServletContext context) {
             return ConfigurationBuilder.begin()
                .defineRule()
                .when(Direction.isInbound()
                .and(Path.matches("/").or(Path.matches("/index.jsf")))
                .and(UserAgent.isMobile())
                ).perform(Forward.to("/mobile/"));
             }
        &nbsp;
%section
  %section
    %h2 JBoss-as Quickstart: kitchensink
    %img{:src => "assets/images/kitchensink-desktop_scaled.png"}
    %h1.fragment.screen{:style => "border: solid red 4px; top: -440px; left: 170px; width: 336px; height: 125px; line-height: 125px; vertical-align: center; position: relative;"} 1
    %h1.fragment.screen{:style => "border: solid red 4px; top: -458px; left: 180px; width: 256px; height: 150px; line-height: 150px; vertical-align: center; position: relative;"} 2
    %h1.fragment.screen{:style => "border: solid red 4px; top: -749px; left: 520px; width: 200px; height: 140px; line-height: 140px; vertical-align: center; position: relative;"} 3
    %h3.fragment.screen{:style => "border: solid red 4px; top: -628px; left: 180px; width: 352px; height: 58px; line-height: 58px; vertical-align: center; position: relative;"} 4

  %section
    %h2 kitchensink: &ldquo;Mobilized&rdquo;
    %img.plain{:style => "float:right; position: relative;", :src => "assets/images/kitchensink-mobile-home_scaled.png"  }
    <!-- demo time -->
    %ul{:style => "margin-top: 180px"}
      %li
        We introduced &ldquo;slidfast&rdquo;:
        %ul
          %li CSS + JavaScript
  %section
    %h2 Mobile compatible with slidfast
    %p{:style => "font-style: italic; margin-top: 200px"}A collection of lightweight CSS and Javascript assets
%section
  %section
    %h2 &ldquo;Vanilla&rdquo; JSF mobile facelet
    %pre{:class => "prettyprint", :style => "font-size: 8px"}
      %code{:id => "multiple_page_elements"}
        &nbsp;
        :escaped
          <?xml version="1.0" encoding="UTF-8"?>
          <ui:composition template="/WEB-INF/templates/mobile.xhtml"
                          xmlns:ui="http://java.sun.com/jsf/facelets"
                          xmlns:f="http://java.sun.com/jsf/core"
                          xmlns:h="http://java.sun.com/jsf/html">
              <ui:define name="content">
                  <h:outputStylesheet name="mobile.css" library="css"/>
                  <h:outputScript>
                     //initialize mobile RichFaces with slidfast
                     slidfast({
                        defaultPageID:'home-page',
                        callback: 'handleHashChange',
                        backButtonID: 'back-button'
                     });
                  </h:outputScript>
                  <div id="browser">
                      <header>
                          <div>
                              <div id="back-button" class="hide-button">Home</div>
                              <div id="info-button" class="right-header-button info-link">
                                  <a href="#about">i</a>
                              </div>
                              <p>Mobile JSF</p>
                          </div>
                      </header>
                      <h:form id="mobileForm">
                         <div id="page-container">
                              <div id="home-page" class="page stage-left">
                                  <ui:include src="/mobile/home.xhtml"/>
                              </div>
                             <div id="new" class="page stage-right">
                                 <ui:include src="/mobile/new.xhtml"/>
                             </div>
                             <div id="list" class="page stage-right">
                                 <ui:include src="/mobile/list.xhtml"/>
                             </div>
                             <div id="about" class="page stage-right">
                                 <ui:include src="/mobile/about.xhtml"/>
                             </div>
                          </div>
                      </h:form>
                  </div>
              </ui:define>
          </ui:composition>
        &nbsp;
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"2:6"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"7:8"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"9:14"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"16:16"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"17:25"}}
    .fragment{:data=>{:prettify=>"multiple_page_elements", :prettify_lines=>"26:41"}}
  %section
    %h2 Single-page programming model
    %pre{:class => "prettyprint", :style => "font-size: 18px"}
      %code{:id => "single_page"}
        &nbsp;
        :escaped
          <h:form id="mobileForm">
             <div id="page-container">
                  <div id="home-page" class="page stage-left">
                      <ui:include src="/mobile/home.xhtml"/>
                  </div>
                 <div id="new" class="page stage-right">
                     <ui:include src="/mobile/new.xhtml"/>
                 </div>
                 <div id="list" class="page stage-right">
                     <ui:include src="/mobile/list.xhtml"/>
                 </div>
                 <div id="about" class="page stage-right">
                     <ui:include src="/mobile/about.xhtml"/>
                 </div>
              </div>
          </h:form>
        &nbsp;
    .fragment{:data=>{:prettify=>"single_page", :prettify_lines=>"3:5"}}
  %section
    %h2 Scale w/ dynamic ui:include
    %pre{:class => "prettyprint", :style => "font-size: 18px;"}
      %code{:id => "dynamic_include"}
        &nbsp;
        :escaped
          <div id="page-container">
              <div id="home-page" class="page stage-left">
                  <ui:include src="/mobile/home.xhtml"/>
              </div>
              <div id="app-page" class="page stage-right">
                  <ui:include src="\#{pageBean.page}"/>
              </div>
          </div>
        &nbsp;
    .fragment{:data=>{:prettify=>"dynamic_include", :prettify_lines=>"5:7"}}
  %section
    %h2 Update the PageBean - JSF
    %pre{:class => "prettyprint", :style => "font-size: 8px"}
      %code{:id => "dynamic_page_element"}
        &nbsp;
        :escaped
          <h:inputHidden id="page" value="\#{pageBean.location}" />
          <h:outputScript >
            var handleHashChange = function (page) {
               var appPage = $('#app-page');
               if (appPage.data('activePage') === page) {
                  slidfast.core.slideTo('app-page');
               } else {
                  loadPage(page);
                  appPage.data('activePage', page);
               }
            }

            var loadPage = function (page) {
               var hiddenInput = 'mobileForm:page';
               $(document.getElementById(hiddenInput)).val(page);

               var options = {
                  execute: hiddenInput,
                  render : '@form',
                  onevent : function(event) {
                     if(event.status == 'success') {
                        slidfast.core.slideTo('app-page');
                     }
                  }
               }
               jsf.ajax.request(hiddenInput, null, options);
            }
          </h:outputScript>
        &nbsp;
    .fragment{:data=>{:prettify=>"dynamic_page_element", :prettify_lines=>"1:1"}}
    .fragment{:data=>{:prettify=>"dynamic_page_element", :prettify_lines=>"2:11"}}
    .fragment{:data=>{:prettify=>"dynamic_page_element", :prettify_lines=>"13:27"}}
  %section
    %h2 Update the PageBean - RichFaces 4.2
    %pre{:class => "prettyprint", :style => "font-size: 14pt; margin-top: 20px"}
      %code
        &nbsp;
        :escaped
          <h:outputScript target="head">
              var handleHashChange = function (page) {
                  var appPage = $('#app-page');
                  if (appPage.data('activePage') === page) {
                      slidfast.core.slideTo('app-page');
                  } else {
                      loadPage(page);
                      appPage.data('activePage', page);
                  }
              }
          </h:outputScript>
          <a4j:jsFunction name="loadPage"
                          data="\#{pageBean.location}"
                          render="@form"
                          oncomplete="slidfast.core.slideTo('app-page')">
              <a4j:param name="page" assignTo="\#{pageBean.location}"/>
          </a4j:jsFunction>
        &nbsp;
  %section
    %h2 Update the PageBean - RichFaces Sandbox
    %pre{:class => "prettyprint", :style => "font-size: 18px, :margin-top: 180px"}
      %code
        &nbsp;
        :escaped
          <slidfast:pageChanger id="pageChanger" activePage="\#{pageBean.location}" render="app-page" />
        &nbsp;
  %section
    %h2 &ldquo;SlidFast&rdquo; JSF mobile facelet
    %pre{:class => "prettyprint", :style => "font-size: 11px"}
      %code{:id => "slidfastComponents_page"}
        &nbsp;
        :escaped
          <?xml version="1.0" encoding="UTF-8"?>
          <ui:composition template="/WEB-INF/templates/mobile.xhtml"
                          xmlns:ui="http://java.sun.com/jsf/facelets"
                          xmlns:h="http://java.sun.com/jsf/html"
                          xmlns:slidfast="http://richfaces.org/slidfast">
              <ui:define name="content">
                  <h:outputStylesheet name="app.css" library="css"/>
                  <h:outputStylesheet name="mobile.css" library="css"/>
                  <div id="browser">
                      <header>
                          <div>
                              <div id="back-button" class="hide-button">Home</div>
                              <div id="info-button" class="right-header-button info-link">
                                  <a href="#about">i</a>
                              </div>
                              <p>Richfaces Mobile</p>
                          </div>
                      </header>
                      <h:form id="mobileForm">
                          <slidfast:pageChanger id="pageChanger" activePage="\#{pageBean.location}" render="app-page" />
                          <slidfast:pageContainer id="pageContainer">
                              <slidfast:page id="home-page" stage="left">
                                  <ui:include src="/mobile/home.xhtml"/>
                              </slidfast:page>
                              <slidfast:page id="app-page" stage="right">
                                  <ui:include src="\#{pageBean.page}"/>
                              </slidfast:page>
                          </slidfast:pageContainer>
                      </h:form>
                  </div>
                 <h:outputStylesheet library="org.richfaces" name="rf-mobile-skin.css" />
              </ui:define>
          </ui:composition>
        &nbsp;
    .fragment{:data=>{:prettify=>"slidfastComponents_page", :prettify_lines=>"21:28"}}
    .fragment{:data=>{:prettify=>"slidfastComponents_page", :prettify_lines=>"20:20"}}
%section
  %section
    %h2 Responsive layout
    %a{:href => "http://bootstrap-richfaces.rhcloud.com", :target =>"demo"}
      %img{:src => "assets/images/richfaces_bootstrap.png"}
%section
  %h2 The end?
  %h3.fragment{:style => "margin-top: 160px"} The beginning - of your mobile adventure with RichFaces!
%section
  %h2 Credits
  %ul.credits
    %li
      %a{:href => "http://www.flickr.com/photos/jdhancock/5845280258/"} http://www.flickr.com/photos/jdhancock/5845280258/
    %li
      %a{:href => "http://leslycorazon.wikispaces.com/file/detail/head-silhouette-with-question-mark.png/319199232"} http://leslycorazon.wikispaces.com/file/detail/head-silhouette-with-question-mark.png/319199232
    %li
      %a{:href => "http://www.linuk.web.id/2010/09/biografi-singkat-linus-torvalds.html"} http://www.linuk.web.id/2010/09/biografi-singkat-linus-torvalds.html
    %li
      %a{:href => "http://en.wikipedia.org/wiki/File:2007Computex_e21Forum-MartinCooper.jpg"}  http://en.wikipedia.org/wiki/File:2007Computex_e21Forum-MartinCooper.jpg
    %li
      %a{:href => "http://gigaom.com/2010/04/12/mary-meeker-mobile-internet-will-soon-overtake-fixed-internet/"} http://gigaom.com/2010/04/12/mary-meeker-mobile-internet-will-soon-overtake-fixed-internet/
    %li
      %a{:href => "https://devcentral.f5.com/weblogs/macvittie/archive/2008/09/10/3604.aspx"}https://devcentral.f5.com/weblogs/macvittie/archive/2008/09/10/3604.aspx
    %li
      %a{:href => "http://openclipart.org/detail/17302/groupe-by-czara1"} http://openclipart.org/detail/17302/groupe-by-czara1
    %li
      %a{:href => "http://openclipart.org/detail/36571/tango-network-workgroup-by-warszawianka"}  http://openclipart.org/detail/36571/tango-network-workgroup-by-warszawianka
    %li
      %a{:href => "http://openclipart.org/detail/22860/money-bag-icon-by-chovynz"} http://openclipart.org/detail/22860/money-bag-icon-by-chovynz
    %li
      %a{:href => "http://openclipart.org/detail/48427/clock-by-palomaironique"} http://openclipart.org/detail/48427/clock-by-palomaironique
    %li
      %a{:href => "http://www.flickr.com/photos/ivyfield/4486938457/"} http://www.flickr.com/photos/ivyfield/4486938457/
    .commons
      :plain
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">GOING MOBILE With Your RichFaces Applications</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="www.bleathem.ca/talks/2012-JBW/richfaces-mobile.html" property="cc:attributionName" rel="cc:attributionURL">Brian Leathem</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/bleathem/talks/tree/master/2012-JBW" rel="dct:source">github.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/bleathem/talks/tree/master/2012-JBW" rel="cc:morePermissions">https://github.com/bleathem/talks/tree/master/2012-JBW</a>.
%section
  %h2 Additional Resources
  %a{:href => "http://www.jboss.org/jdf/quickstarts/jboss-as-quickstart/kitchensink/"} JBoss-as Kitchensink quickstart
  %a{:href => "https://github.com/bleathem/quickstart/tree/mobile-jsf"} JBoss-as Kitchensink quickstart w/ Vanilla JSF
%section
  %h2 Stay in the loop
  %ul
    %li richfaces.org
    %li twitter
    %li google+
    %li forums


